input{
    font-family: "Source Code Pro", serif;
}

.scp{
    font-family: "Source Code Pro", serif !important;
}

.loading{
    visibility: hidden;
}

body{
    background-image: url("../img/back_head.png"), url("../img/back_bottom_left.png");
    background-position: top, left bottom;
    background-repeat: repeat-x, no-repeat;
    background-attachment: scroll, fixed;
}

#buttons{
    --cols-xl: 2;
    --cols-lg: 2;
}

#buttons input{
    width: 100%;
}
